@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/echarts.min.js"></script>
<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card card-block card-stretch card-height">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="mm-cart-image text-danger">
                            <svg class="svg-icon svg-danger" width="50" height="52" id="h-01"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="1.5"
                                      d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="1.5"
                                      d="M20.488 10H14V3.512A9.025 9.025 0 0120.488 9z"></path>
                            </svg>
                        </div>

                        <div class="mm-cart-text">
                            <h2 class="font-weight-700">12k</h2>
                            <p class="mb-0 text-danger">Total sale</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card card-block card-stretch card-height">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="mm-cart-image text-success">
                            <svg class="svg-icon svg-success mr-4" width="50" height="52" id="h-02"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="1.5"
                                      d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z">
                                </path>
                            </svg>
                        </div>
                        <div class="mm-cart-text">
                            <h2 class="font-weight-700">250</h2>
                            <p class="mb-0 text-success">Orders</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card card-block card-stretch card-height">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="mm-cart-image text-primary">
                            <svg class="svg-icon svg-blue mr-4" id="h-03" width="50" height="52"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z">
                                </path>
                            </svg>
                        </div>
                        <div class="mm-cart-text">
                            <h2 class="font-weight-700">25k</h2>
                            <p class="mb-0 text-primary">Customers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card card-block card-stretch card-height">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="mm-cart-image text-warning">
                            <svg class="svg-icon svg-warning mr-4" id="h-04" width="50" height="52"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z">
                                </path>
                            </svg>
                        </div>
                        <div class="mm-cart-text">
                            <h2 class="font-weight-700">200</h2>
                            <p class="mb-0 text-warning">Visitors</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="barSimple" style="width: 800px;height:500px;"></div>
        <div id="linesimple" style="width: 800px;height:500px;"></div> 
    </div>
</div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart1 = echarts.init(document.getElementById('barSimple'));
    // 指定图表的配置项和数据
    var option1 = {
        xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                data: [120, 200, 150, 80, 70, 110, 130],
                type: 'bar'
            }
        ]
    };
    $.get("/Home/GetData", null, function (res) {
        option1.xAxis.data = res.strings;
        option1.series.data = res.ints;
        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option1);
    })

    var myChart2 = echarts.init(document.getElementById('linesimple'));
    var option2 = {
        xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                data: [150, 230, 224, 218, 135, 147, 260],
                type: 'line'
            }
        ]
    };
    myChart2.setOption(option2);
</script>