@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "菜单管理";
}
<div class="col-md-12">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <input class="form-control" placeholder="请输入编号" id="ano">
                    </div>
                    <div class="col-sm">
                        <input class="form-control" placeholder="请输入姓名" id="aname">
                    </div>
                    <div class="col-sm">
                        <input class="form-control" placeholder="请输入性别" id="asex">
                    </div>
                    <div class="col-sm">
                        <input class="form-control" placeholder="请输入电话" id="aphone">
                    </div>
                    <div class="col-sm">
                        <input class="form-control" placeholder="请输入备注" id="aremark" style="width: 200px">
                    </div>
                    <div class="col-fluid">
                        <button class="btn btn-primary btn-sm" id="Search">查询</button>
                        <button class="btn btn-secondary btn-sm" id="Clear">清空</button>
                        <button class="btn btn-success btn-sm" onclick="Add()">新增</button>
                        <button class="btn btn-danger btn-sm" id="Del">删除</button>
                    </div>
                </div>
            </div>
            <table class="table table-borderless">
                <colgroup>
                    <col style="width: 10%;" /> <!-- 10% width for the '编号'列 -->
                    <col style="width: 15%;" /> <!-- 15% width for the '姓名'列 -->
                    <col style="width: 10%;" /> <!-- 10% width for the '性别'列 -->
                    <col style="width: 15%;" /> <!-- 15% width for the '电话'列 -->
                    <col style="width: 30%;" /> <!-- 30% width for the '备注'列 -->
                    <col style="width: 20%;" /> <!-- 20% width for the '操作'列 -->
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" id="all">&nbsp;全选</th>
                        <th scope="col">编号</th>
                        <th scope="col">姓名</th>
                        <th scope="col">性别</th>
                        <th scope="col">电话</th>
                        <th scope="col">备注</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>

                @* 这个是嵌入的数据 *@
                <tbody>
                    @{
                        @* for (int i = 0; i < 10; i++)
                    {
                    <tr>
                    <th scope="row"><input type="checkbox" class="rowCkb"></th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>
                        <button class="btn btn-warning btn-sm">修改</button>
                        <button class="btn btn-danger btn-sm">删除</button>
                        </td>
                    </tr>
                    } *@
                    }

                </tbody>
            </table>
            <p>总计有 <span id="total">1000</span> 条数据</p>
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="pagination">
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">新增</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form style="text-align:center;">
                    <div class="form-group row" style="display: none;">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Id</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="id">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="txtName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Index</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="txtIndex">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">IsEnable</label>
                        <div class="col-sm-10">
                            <div style="margin-top:14px;"
                                 class="custom-control custom-switch custom-switch-text custom-control-inline">
                                <div class="custom-switch-inner">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch" checked="">
                                    <label class="custom-control-label" for="customSwitch" data-on-label="On"
                                           data-off-label="Off">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Order</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="txtOrder">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Desc</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="txtDesc">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="Submit()">提交</button>
            </div>
        </div>
    </div>
</div>
<script>
    // 等页面加载完毕执行JS
    $(function () {
        // 全选点击事件
        // 点击事件写法1：直接通过标签的点击事件编写
        // 适用于页面dom元素已经存在的情况，动态追加的Dom则无法触发
        //$("#all").click(function(){

        //});
        // 点击时间写法2：先获取document对象，再通过document对象给指定元素【绑定】点击事件
        // 适用于所有的情况
        $(document).on("click", "#all", function () {
            let _this = this;
            // 点击后会修改状态，所以这里取反
            if (!$(_this).is(":checked")) {
                // 设置表格中的项为未选中
                $(".rowCkb").removeAttr("checked");
            } else {
                $(".rowCkb").attr("checked", "checked")
            }
        });

        // 页面初始化完毕之后，要加载一次数据
        loadData(1);
        // 查询
        $(document).on("click", "#Search", function () {
            loadData(1);
        });
        // 清空
        $(document).on("click", "#Clear", function () {
            $("#ano").val("");
            $("#aname").val("");
            $("#asex").val("");
            loadData(1);
        });
        // 修改
        $(document).on("click", ".Edit", function () {
            $("#staticBackdropLabel").text("修改");
            var _thisTr = $(this).parent().parent();
            $("#id").val(_thisTr.attr("Id"));
            $("#txtName").val(_thisTr.attr("Name"));
            $("#txtIndex").val(_thisTr.attr("Index"));
            console.log(_thisTr.attr("Id"));
            $('#customSwitch').prop('indeterminate', _thisTr.attr("IsEnable") == "true" ? false : true);
            $("#txtOrder").val(_thisTr.attr("Order"));
            $("#txtDesc").val(_thisTr.attr("Desc"));
            $('#staticBackdrop').modal('toggle')
        });

        // 批量删除
        $(document).on("click", "#Del", function () {
            let arrIds = [];
            $.each($(".rowCkb"), function (i, e) {
                if ($(e).is(":checked")) {
                    arrIds.push($(e).parent().parent().attr("Id"))
                }
            })
            if (arrIds.length == 0) {
                alert("请选择需要删除的数据！")
                return
            }
            let ids = arrIds.map((s) => { return "'" + s + "'" }).join(",")
            $.get("/Menu/BatchDel", { ids: ids }, function (res) {
                if (res.IsSuccess) {
                    loadData(1)
                } else {
                    alert(res.Msg)
                }
            })
        });

        // 单个删除
        $(document).on("click", ".Del", function () {
            $.get("/Menu/Del", { id: $(this).parent().parent().attr("Id") }, function (res) {
                if (res.IsSuccess) {
                    loadData(1)
                } else {
                    alert(res.Msg)
                }
            })
        })
    })


    // 加载指定页的数据
    function loadData(num) {
        var parms = {
            Name: $("#ano").val(),
            Index: $("#aname").val(),
            Description: $("#asex").val(),
            PageIndex: num,
            PageSize: 10,
        }
        $.post("/Menu/GetMenus", parms, function (res) {
            $("tbody").html("");
            if (res.IsSuccess) {
                // 遍历数据
                $.each(res.Result.Data, function (i, e) {
                    var html = `
                            <tr
                                Id="${e.Id}"
                                Name="${e.Name}"
                                Index="${e.Index}"
                                IsEnable="${e.IsEnable}"
                                Order="${e.Order}"
                                Desc="${e.Description}"
                            >
                               <th scope="row"><input type="checkbox" class="rowCkb"></th>
                               <td>${e.Name}</td>
                               <td>${e.Index}</td>
                               <td>${e.IsEnable}</td>
                               <td>${e.Order}</td>
                               <td>${e.Description}</td>
                               <td>${e.CreateDate}</td>
                               <td>
                                   <button class="btn btn-warning btn-sm Edit">修改</button>
                                   <button class="btn btn-danger btn-sm Del">删除</button>
                               </td>
                            </tr>
                        `;
                    $("tbody").append(html);
                })
                $("#total").text(res.Result.Total);
                $("#PageCount").val(res.Result.Total);
            } else {
                alert(res.Msg);
            }
        })
        loadpage();
    }

    function Add() {
        $("#staticBackdropLabel").text("新增");
        // 清空表单
        $('form').eq(2)[0].reset();
        $('#staticBackdrop').modal('toggle')
    }

    function Submit() {
        var parms = {
            Id: $("#id").val(),
            Name: $("#txtName").val(),
            Index: $("#txtIndex").val(),
            IsEnable: $("#customSwitch").is(":checked"),
            Order: $("#txtOrder").val(),
            Description: $("#txtDesc").val(),
        }
        console.log(parms);
        if (parms.Id) {
            $.post("/Menu/Edit", parms, function (res) {
                if (res.IsSuccess) {
                    $('#staticBackdrop').modal('toggle')
                    loadData(1);
                } else {
                    alert(res.Msg)
                }
            })
        } else {
            $.post("/Menu/Add", parms, function (res) {
                if (res.IsSuccess) {
                    $('#staticBackdrop').modal('toggle')
                    loadData(1);
                } else {
                    alert(res.Msg)
                }
            })
        }
    }
</script>